<html>
    <head>
        {% if title %}
            <title>{{ title }} - CM-Wizard</title>
        {% else %}
            <title>Welcome to CM-Wizard</title>
        {% endif %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
    </head>
    <body>
        <div> <a href="{{ url_for('index')}}">Home</a> <a href="{{ url_for('search')}}">Add New</a>  <a href="{{ url_for('update')}}">Modify existing</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>