{% extends "base.html" %}

{% block content %}
<h1>Confirm update</h1>
<img src=' {{cardInfo.img}} ' title='{{cardInfo.name}}'>
<br>
<form action="" method="POST">

    {{form.csrf_token}}

    {{form.img(value = cardInfo.img)}}
    {{form.idProduct(value = cardInfo.idProduct)}}
    {{form.name(value = cardInfo.name)}}
    {{form.id(value = cardInfo.id)}}
    <br>
    Condition <br>
    {% set f = form.condition.process_data(cardInfo.condition) %}
    {{form.condition}} <br><br>
    Language <br>
    {% set f = form.idLanguage.process_data(cardInfo.idLanguage) %}
    {{form.idLanguage(default = cardInfo.idLanguage)}} <br> <br>
    Foiled
    {% set f = form.isFoil.process_data(cardInfo.isFoil) %}
    {{form.isFoil (default = cardInfo.isFoil)}}
    Quantity <br>
    {{form.count(value = cardInfo.count)}}<br> <br>
    Comments <br>
    {% set f = form.comments.process_data(cardInfo.comments) %}
    {{form.comments}}<br> <br>
    Delete
    {{form.delete}} <br>

    <br>
    <input type="submit" value = Submit>
</form>
{% if form.errors %}
        {{ form.errors }}
{% endif %}
{% endblock %}