{% extends "base.html" %}

{% block content %}
<h1>Results from your DB</h1>
    {% for card in cards %}
<div style="display: flex;">
    <form action = "" method = "POST">
        {{form.csrf_token}}
        {{form.img(value=card.img)}}
        {{form.name(value=card.name)}}
        {{form.id(value=card.id)}}
        {{form.idProduct(value=card.idProduct)}}
        <input type="image" src="{{card.img}}" border="0" title = "{{card.name}}" alt="Submit" height ="300"/>
    </form>
</div>
    {% endfor %}
{% endblock %}
